body {
  background-color: lightgray;
}

#board {
  display: grid;
  grid-template-columns: repeat(30, max-content);
  gap: 3px;
}


.cell {
  width: 2rem;
  height: 2rem;
}


.empty {
  background-color: white;
}

.filled {
  background-color: black;
}
