body {
  background-color: gray;
}

#board {
  display: grid;
  grid-template-columns: repeat(30, max-content);
  gap: 0.1rem;
}

.empty-cell {
  background-color: white;
  width: 2rem;
  height: 2rem;
}

.filled-cell {
  background-color: black;
  width: 2rem;
  height: 2rem;
}
